html, body {
  /*height: 100%;
  background-color: blue; */
}

html, body, #container {
    height: 100%;
    min-height: 100%;
}

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 75px 75px 0px 75px;
    /*margin: 75px 75px 0px 75px;*/
}
/*
body > #container {
    height: auto;
    min-height: 100%;

}
*/
h1 {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 5em;
}

#intro-text-box {
    padding: 50px 0px 50px 0px;
}

.intro-text {
    align-self: center;
    padding: 5px;
}

/*
#introTextOne {

    padding-bottom: 5px;
}

#introTextTwo {
    padding-top: 5px;
    padding-bottom: 20px;
}
*/

.ghost-button-border {
    display: inline-block;
    width: 200px;
    padding: 3px;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    text-align: center;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px;
    transition: border-color 0.2s ease-out,
              color 0.2s ease-out;
}

.ghost-button-border:hover,
.ghost-button-border:active {
  border-color: #6A0BC1;
  color: #6A0BC1;
  transition: border-color 0.3s ease-in,
              color 0.3s ease-in;
}

.center-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ghost-button {
  display: inline-block;
  width: 200px;
  padding: 3px;
  background-color: #fff;
  color: black;
  border: 1px solid black;
  text-align: center;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px;
}

.ghost-button:hover,
.ghost-button:active {
  background-color: #6A0BC1;
  color: #fff;
}

.buttonCategories {
    padding: 50px 10px 50px 10px;
}

.multipleChoice {
    margin: 5px 5px 5px 5px;
    margin-bottom: 5em;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    padding: 5px 5px;
    text-align: center;
    color: white;
    background-color: black; /*The Purp #6A0BC1 */
}
